.navigation-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
}

.navigation-bar {
  background-color: #333;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
}

.navigation-bar a {
  color: #f2f2f2;
  text-decoration: none;
  padding: 14px 16px;
  margin: 0 10px;
}

.navigation-bar a:hover {
  background-color: #ddd;
  color: black;
}

.content-container {
  padding: 20px;
  margin-top: 60px; /* Huomioi navigaatiopalkin korkeus */
  position: absolute;
  height: 100vh;
  width: 100%;
}
